body {
  background-color: #000103;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 350px;
  height: 500px;
  background-color: white;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  border-radius: 10px;
}

h1 {
  position: absolute;
  left: 50%;
  top: -60px;
  width: 300px;
  transform: translateX(-50%);
  background-color: #22201e;
  color: #d49c9c;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

.wrapper {
  padding: 20px;
}

input,
select {
  width: 80%;
  border: none;
  border-bottom: 1px solid #010101;
  padding: 10px;
}

input:focus,
select:focus {
  border: 3px solid #2562a0;
  outline: none;
}

select {
  width: 80% !important;
}

button {
  margin: 30px auto;
  width: 120px;
  height: 40px;
  background-color: #121616;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
.tip {
  text-align: center;
  font-size: 18px;
  display: none;
  border: none;
  border-radius: 10px;
}
